<%= stylesheet_link_tag    'sessions', media: 'all', 'data-turbolinks-track' => true %>

	<h1 class="crear_cuenta">Cuenta</h1>
	<div class="account-information">
	    <h2 class="crear_cuenta">Información de Cuenta</h2>
	    <p class="info-container"> Nombre <span class="text-label"><%= @user.nombre + " " + @user.apellido%> </span></p>
	    <p class="info-container"> Correo <span class="text-label"><%= @user.email%> </span></p>
    </div>
    <div class="account-adress">
		<h1 class="crear_cuenta">Cuenta</h1>
	    <h2 class="crear_cuenta">Información de Cuenta</h2>
	    <p class="info-container"> Nombre <span class="text-label"><%= @user.nombre + " " + @user.apellido%> </span></p>
	    <p class="info-container"> Correo <span class="text-label"><%= @user.email%> </span></p>
    </div>