<%= stylesheet_link_tag    'sessions', media: 'all', 'data-turbolinks-track' => true %>

<h2 class='User_Header'>Bienvenido, <%=@current_user.username%> ! </h2>


<% if @current_user.admin %>
<h2> ADMIN </h2>
<%end%>


<% @page_title = "User | Profile" %>
<div class="profile_form">


  <div class="profile-nav">


  	<%= render :partial => "profilenav" %>

  </div>

  <div class="my-account">

  	<h2>Informaci贸n General</h2>

  	<div class="overview">
  		<div class="user-info">
  			<div class="info-izquierda">
  			<h3>Informaci贸n De Cuenta</h3>

  			</div>

  			<div class="info-derecha">
  				<ul class="lista-derecha"> 
  					<li class="lateral">Nombre:  <%=@current_user.nombre+" "+@current_user.apellido%></li>
  					<li class="lateral">Correo:  <%=@current_user.email%></li>
  					<li class="lateral">Usuario:  <%=@current_user.username%></li>
  				</ul>
  			</div>

  		</div>

  		<div class="user-adress">
  			<div class="info-izquierda">
  			<h3>Direcci贸n</h3>

  			</div>

  			<div class="info-derecha">
  				<ul class="lista-derecha"> 
  					<li class="lateral">Direcci贸n:  <%=@current_user.direccion%></li>
  					<li class="lateral">Comuna:  <%=@current_user.comuna%></li>
  					<li class="lateral">Ciudad:  <%=@current_user.pais%></li>
  				</ul>
  			</div>

  		</div>

  	</div>


  </div>



</div>

