

<h2 class='User_Header'>Bienvenido, <%=@current_user.username%> ! </h2>


<% @page_title = "User | Profile" %>
<div class="profile_form">


  <div class="profile-nav">


     <%= render :partial => "profilenav" %>


  </div>

  <div class="my-account">

  	<h2><%= t 'admin.information.general' %></h2>

  	<div class="overview">
  		<div class="user-info">
  			<div class="info-izquierda">
  			<h3><%= t 'admin.information.information' %></h3>

  			</div>

  			<div class="info-derecha">
  				<ul class="lista-derecha"> 
  					<li class="lateral"><%= t 'admin.information.name' %>  <%=@current_user.nombre+" "+@current_user.apellido%></li>
  					<li class="lateral"><%= t 'admin.information.mail' %>  <%=@current_user.email%></li>
  					<li class="lateral"><%= t 'admin.information.user' %>  <%=@current_user.username%></li>
  				</ul>
  			</div>

  		</div>

  		<div class="user-adress">
  			<div class="info-izquierda">
  			<h3><%= t 'admin.information.adress' %></h3>

  			</div>

  			<div class="info-derecha">
  				<ul class="lista-derecha"> 
  					<li class="lateral"><%= t 'admin.information.adress' %>  <%=@current_user.direccion%></li>
  					<li class="lateral"><%= t 'admin.information.area' %>  <%=@current_user.comuna%></li>
  					<li class="lateral"><%= t 'admin.information.city' %>  <%=@current_user.pais%></li>
  				</ul>
  			</div>

  		</div>

  	</div>


  </div>



</div>
