
<div class="profile-nav">
  
  <%= render :partial => "profilenav" %>

</div>

<div class="my-account">
  <div class ="contenedor_titulo">
    <h2><%= t 'admin.deals.edit' %></h2>
    <%= button_to 'Agregar promociones', {:controller => "admin", :action => "agregar_promocion"} , :method=>:post  %>

  </div>
  

  <div class="contenedor_catalogo">
  <%@promociones.each do |p| %>
  
  <p>
    <li class = "contenedor_producto">
      <a class = "imagen">
      	<%if !p.imagen || p.imagen =""%>
        <%=image_tag("no_image.png", :class => "product-draw")%>
        <%else%>
        <%=image_tag(p.imagen, :class => "product-draw")%>
        <%end%>
        <span class = "nombre_producto"><%= t 'admin.deals.name' %> <%=p.nombre%></span>
        <span class = "precio_producto"><%= t 'admin.deals.price' %> <%=p.subtotal%></span>
        <span class = "descuento_producto"><%= t 'admin.deals.discount' %> <%=p.descuento%></span>
        <%if p.comentario && p.comentario != ""%>
        <span class = "descripcion_producto"><%= t 'admin.deals.description' %> <%=p.comentario%></span>
        <%end%>
        <span class = "cantidad_producto"><%= t 'admin.deals.quantity' %> <%=p.products.count%></span>
       
        

      </a>

    </li>
  </p>

  <div class ="contenedor_botones">
    
   <%= button_to 'Editar', {:controller => "admin", :action => "editar_promocion", :prom_id => p.id} , :method=>:post  %>
   <%= button_to "Eliminar", {:controller => "admin", :action => "eliminar_promocion", :prom_id => p.id }, :method => :delete, data: { confirm: '¿Estas seguro que quieres eliminar la promocion?'} %>
    
  </div>
  
  <%end%>

  </div>


</div>

