

<div class="header-container" href="navbar.css">
        <header class="p-header">
          <ul class="nav-row">

            <%= link_to home_path do %>
              <div class="nav_logo"> 
                <li><%=image_tag("logo.png", :id => "logo")%></li>
              </div>
            <% end %>

            <div class="nav_izq"> 

              <li class="nav_e first <%= @tab==1 ? 'active' : '' %>" id="shop"><%=image_tag("carro"+ @carro+".png", :class => "icono")%><span class="navegacion <%= @tab==1 ? 'active' : '' %>"><%= t 'navbar.cart' %></span></li>

              <%= link_to catalogo_index_path do %>
                  <li class="nav_e" id="productos <%= @tab==2 ? 'active' : '' %>"><%=image_tag("auto"+ @auto+".png", :class => "icono")%><span class="navegacion <%= @tab==2 ? 'active' : '' %>"><%= t 'navbar.catalog' %></span></li>
              <% end %>

            </div>

            <div class="nav_der"> 
             <% if @current_user && @current_user.admin %>
              <%= link_to admin_profile_path do %>
                <li class="nav_e first <%= @tab==3 ? 'active' : '' %>" id="usuario"><%=image_tag("usuario"+ @usuario+".png", :class => "icono")%><span class="navegacion <%= @tab==3 ? 'active' : '' %>"><%=@current_user_name%></span></li>
              <% end %>
              
              <% else %>

              <%= link_to session_profile_path do %>
                <li class="nav_e first <%= @tab==3 ? 'active' : '' %>" id="usuario"><%=image_tag("usuario"+ @usuario+".png", :class => "icono")%><span class="navegacion <%= @tab==3 ? 'active' : '' %>"><%=@current_user_name%></span></li>
              <% end %>

            <% end %>
              <li class="nav_e <%= @tab==4 ? 'active' : '' %>" id="nosotros"><%=image_tag("nosotros"+ @nosotros+".png", :class => "icono")%><span class="navegacion <%= @tab==4 ? 'active' : '' %>"><%= t 'navbar.us' %></span></li>             
            </div>

          </ul>
        </header>
</div>