

  <% @items.each do |i| %>

      <ul class="fila-prod" id="fila-prod-1">

          <li class="product-container" data-product-source-url="<%=product_getInfo_path(:id => i.id.to_i, :tipo => "producto", format: 'json')%>">            
            <a class="product-image">             
              <span class="product-name"><%= i.nombre %></span>
              <span class="product-price"><%= " $"+i.precio.to_s %></span>

              <%= link_to catalogo_show_item_path(:id => i.id.to_i, :tipo => "producto") do %>
                  <%=image_tag(i.imagen, :class => "product-draw")%>
              <%end %>

            </a>
          </li>
      
      </ul>
  <% end %>