<%= stylesheet_link_tag    'catalogo', media: 'all', 'data-turbolinks-track' => true %>




    <ul class="catalogo_nav"> 

        <%= link_to catalogo_autos_path do %>
                <li class="lateral">>  <%= t 'catalogo.categories.car' %></li>
        <% end %>


        <%= link_to catalogo_perros_path do %>
                <li class= "lateral">>  <%= t 'catalogo.categories.dog' %></li>
        <% end %>

        <%= link_to catalogo_promociones_path do %>
                <li class= "lateral">>  <%= t 'catalogo.categories.deal' %></li>
        <% end %>





    </ul>