<%= stylesheet_link_tag  'catalogo', media: 'all', 'data-turbolinks-track' => true %>



<div class="search-container">
  <form id="search">
    <%=image_tag("search-icon.png", :class => "search-icon")%>
  </form>
</div>


<div class="path-container">
  <ul class="path">
    <li class="home path_e">
      <a href="#" class="redirigir">Home</a>
      <a class="gap">></a>
    </li>
    <li class="productos path_e">
      <a href="#" class="redirigir current-path"><%= t 'navbar.catalog' %></a>
    </li>
  </ul>
</div>


<div class="catalogo-container">
    <div class="catalogo-nav">

      <h2><%= t 'catalogo.categories.category' %></h2>
      
      <%= render :partial => "navbar" %>

    </div>


    <div class="catalogo">

        <input type="hidden" class="pagina_actual" value="">
        <input type="hidden" class="por_pagina" value="">

        <% if @vista=="index" %>
            <h2><%= t 'catalogo.index.title' %></h2>
        <% elsif @vista=="autos" %>  
            <h2><%= t 'catalogo.autos.title' %></h2>        
        <% elsif @vista=="perros" %>  
            <h2><%= t 'catalogo.perros.title' %></h2> 
        <% else %>     
            <h2><%= t 'catalogo.promocions.title' %></h2> 
        <% end %> 

        <%= render :partial => "items" %> 

        <div class="link-paginas">
          <a href="#" class="anterior">Anterior</a>
          <div class='paginas'></div>
          <a href="#" class="siguiente">Siguiente</a>
        </div>   


    </div>

</div>

<div id="modal-form" title="Show Product">
  
</div>


<%= javascript_include_tag   'catalogo', media: 'all', 'data-turbolinks-track' => true %>



